body {
  font-family: 'Poppins', sans-serif;
  }

.sidenav {
  height: 100%;
  width: 280px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: black;
  overflow-x: hidden;
  padding-top: 20px;
  color: white;
  justify-content: center;
  text-align: center;
}

.sidenav h1 {
  padding: 100px 20px 6px 20px;
  text-align: center;
}

.navlink a {
  padding: 6px 6px 6px 0px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
}

.navlink a:hover {
  text-decoration: underline;
}

.navlink-2 p {
  padding: 15px 6px 6px 0px;
}

.navlink-2 a {
  font-size: 15px;
  color: gray;
  text-decoration: none;
}

.navlink-2 a:hover {
  text-decoration: underline;
}
 /* for margin */
.content {
  margin-left: 450px;
}
 /* header */
 .header {
  margin-top: 50px;
}
.header img {
  align-items: left;
}

.header h1 {
  font-size: 50px;
  margin: 60px 0px 0px 0px;
  margin-left: -250px;
  font-weight: bold;
}

.header h5 {
  margin-top: 10px;
  margin-left: -250px;
}

/* about */
#about {
  margin-top: 100px;
  margin-right: 150px;
}

#about h1 {
  margin-left: 20px;
  margin-top: 15%;
  font-weight: bold;
}

#about p {
  margin-left: -100px;
  margin-bottom: -50px;
}

.projects {
  height: auto;
  width: 100%;
  background-color: black;
  color: white;
  padding-bottom: 50px;
}

.projects h1 {
  text-align: center;
  margin-left: 50px;
}

.projbox {
  background-color: white;
  border-radius: 40px;
  height: 200px;
  width: 200px;
}
